name: cron workflow


on:
  schedule:
    - cron: '*/5 * * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: print massage
        run: echo "hhis workflow runs every 5 minutes"
